<header id="header">

<div class="title-subtitle">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
<br>
    <a [routerLink]="['/empleados']"  class="btn btn-empleados">
            Empleados
        </a>
        <a [routerLink]="['/departamentos']" class="btn btn-departamentos">
            Departamentos
        </a>
</div>
    <div class="clearfix"></div>
</header>

<section class="main">

    <section class="main">
        <router-outlet></router-outlet>
        <div class="clearfix"> </div>
    </section>

   

</section>